*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: $font-montserrat;
  color: $black;
  margin: 0;
}

a {
  &:hover {
    text-decoration: none;
  }
}
