{% extends "layouts/app.html.twig" %}

{% block title %}Home page{% endblock %}

{% block content %}
	<div class="container">
		<!-- begin::Header -->
		<header class="header mt-2">
			<div class="jumbotron">
				<h1 class="display-4">Home</h1>
				<p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut illo facere perspiciatis similique reprehenderit hic repellendus. Tempore adipisci vel corporis.</p>
				<p class="lead">
					<a href="/contact" class="btn btn-dark">Contact</a>
				</p>
			</div>
		</header>
		<!-- end::Header -->
	</div>
{% endblock %}
