<?php

// General
define('SITE_NAME', '');
define('APP_URL', 'http://localhost');
define('APP_VERSION', '1.0.0');

// Database
define('DB_HOST', 'localhost');
define('DB_USER', 'jetpack');
define('DB_PASS', 'jetpack');
define('DB_NAME', 'jetpack');

// Mail
define('MAIL_HOST', '');
define('MAIL_ENCRYPTION', '');
define('MAIL_PORT', '');
define('MAIL_USERNAME', '');
define('MAIL_PASSWORD', '');
